{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/demosite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}container{% endblock %}">
		<header>
			<h1 id="logo"><span class="blue">Fake</span><span class="green">Charity</span></h1>
		</header>
		{% block navbar %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="{% slugurl 'home' %}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{% slugurl 'about-us' %}">About us</a></li>
				<li class="nav-item"><a class="nav-link" href="{% slugurl 'blog' %}">News</a></li>
				<li class="nav-item"><a class="nav-link" href="{% slugurl 'contact-us' %}">Contact us</a></li>
			</ul>
		</nav>
		{% endblock %}

		{# This is where custom page content will appear #}
        {% block content %}{% endblock %}

		{# This makes the wagtail userbar appear #}
		{% wagtailuserbar %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/demosite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
