/* this is the generic CSS that applies to all pages */

span.blue {
	color: blue;
}

span.green {
	color: green;
}

h1#logo {
	font-family: 'Permanent Marker', cursive;
	font-weight: 200%;
}

nav a {
	text-decoration: none;
}

header {
	padding: 1em 0;
}
